.grey-box.profile{
display:none;
}
section.profile-post section a{
display:none!important;
}
.block-c{
display:none;
}
.set1.icons{
display:none;
}
.right-pop .like-box a.like{
	display: none;
}
.set3c:hover img:last-child{
	visibility: hidden;
}
.set3c a{
	cursor: auto;
}
.set3b span img{
	display: none;
}
.set3b span{
	display: block;
}
div.set3b span.pop-disclaimer{
	display: inline-block;
}

.right-pop .content-b .comment-box .comment img.follow-btn{
	display: none;
}
.user-detail button{
display:none;
}
.mat4,.mat5,.mat6,section .loc-img{
display:none;
}